* {
    box-sizing: border-box;
}

body {
    height: 100%;
}

.flex-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-windows__screen {
    width: 930px;
    height: 900px;
    overflow: hidden;
    background-color: #f5f5f6;
}

.music-windows {
    width: 350px;
    height: 700px;
    margin: 0px 30px;
    border-radius: 35px;
    position: relative;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px 10px 20px;
}

main {
    margin: 0px 20px;
}

.music-windows__music-playing {
    margin-bottom: 40px;
}

.music-windows__music-playing-img {
    margin-bottom: 10px;
}

.music-windows__music-playing-small-img {
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

.music-windows__music-playing-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.music-windows__music-playing-title {
    font-size: 30px;
}

.music-windows__music-playing-singer {
    margin: 8px 0px 6px 0px;
    font-size: 16px;
    color: #00cd3c;
}

.music-windows__music-playing-genre {
    font-size: 13px;
    color: #babcbc;
}

.music-windows__music-playing-functions div {
    height: 40px;
    padding: 0px 20px;
    border-radius: 15px;
    background-color: #a0efb7;
}

.music-windows__music-playing-download {
    margin-right: 20px;
}

.music-windows__music-playing-like i {
    margin-right: 5px;
    color: #ff3838;
}

.music-windows__music-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.music-windows__music-item-img {
    width: 70px;
    height: 70px;
    margin-right: 15px;
}

.music-windows__music-item-img img {
    width: 70px;
    max-height: 70px;
    border-radius: 10px;
}

.music-windows__music-item-info {
    width: 185px;
    height: 70px;
}

.music-windows__music-item-more {
    width: 20px;
    height: 70px;
}

.music-windows__music-item-title {
    margin-top: 10px;
    font-size: 20px;
}

.music-windows__music-item-singer {
    margin-top: 10px;
}

.music-windows__music-control-box {
    width: 310px;
    height: 70px;
    border-radius: 35px;
    padding: 0px 25px;
    position: absolute;
    bottom: 10px;
    background-color: black;
}

.music-windows__music-control-box-info {
    width: 50%;
    margin-left: 20px;
    color: white;
}

.music-windows__music-control-box-title {
    font-size: 20px;
    margin-bottom: 3px;
}

.music-windows__music-control-box-singer {
    font-size: 13px;
}

.music-windows__music-control-box-button {
    width: 40%;
    margin-right: 10px;
}

.music-windows__music-control-box-button div i {
    color: white;
}

.music-windows__music-control-box-pausing {
    margin: 0px 20px;
}

.music-windows__music-playing-bic-img {
    width: 320px;
    height: 320px;
    border-radius: 25px;
}