* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    padding: 0px 20px 30px 20px;
    color: white;
    background-color: #5d6b9e;
}

.header-column:nth-child(2) {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 28px;
}

.search-box {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 75px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}

.search-box__config {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.search-box__config input {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    border: none;
    border-radius: 30px;
    font-size: 26px;
}

.search-box__config input:focus {
    outline: none;
}

.search-box__config i {
    position: absolute;
    right: 20px;
    color: #858689;
}

main {
    overflow-y: auto;
    position: absolute;
    width: 100%;
    padding: 20px;
    margin-top: 35px;
    height: calc(100% - 120px);

}

.menu-name {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 25px;
}

.book-info__main {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.book-info__main-img {
    height: 100%;
    margin-right: 20px;
}

.book-info__main-img img {
    width: 130px;
    height: 100%;
    border-radius: 10px;
}

.book-info__main-detail-info {
    height: 100%;
}

.book-info__main-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.book-info__main-author {
    margin-bottom: 15px;
    color: #a0a0a0;
}

.book-info__main-evaluation i {
    color: #fff194;
}

.book-info__main-genre-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.book-info__main-genre {
    margin: 5px 5px 0px 0px;
    padding: 5px 10px;
    border: 2px solid #afafaf;
    border-radius: 15px;
    text-align: center;
}

.book-info__main-function {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.book-info__main-function div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    border-radius: 13px

}

.book-info__main-function div:not(:first-child) {
    margin-left: 15px;
    padding: 2px 10px 0px 10px;
    color: white;
}

.book-info__main-bookmark {
    width: 26px;
    background-color: #fff194;
}

.book-info__main-booknow {
    background-color: #5d6b9f;
}

.book-info__main-buy {
    background-color: #5d6b9e;
}

.book-info__intro-list {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
    overflow-x: auto;
}

.book-info__intro-item {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.book-info__intro-img {
    display: flex;
    align-items: center;
    height: 202px;
}

.book-info__intro-img img {
    width: 105px;
}

.book-info__intro-evaluation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-info__intro-evaluation i {
    color: #fff194;
}

.book-info__popular_authors {
    display: flex;
    height: 120px;
}

.book-info__popular_authors-img {
    margin-right: 10px;
}

.book-info__popular_authors-img img {
    width: 180px;
}

.book-info__popular_authors-info {
    padding-top: 9px;
}

.book-info__popular_authors-title {
    margin-bottom: 5px;
    font-size: 15px;
}

.book-info__popular_authors-sub-title {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 12px;
    line-height: 1.2;
    word-wrap: break-word;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}